@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf),
       url(../fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Ms Madi';
  src: url(../fonts/Ms_Madi/MsMadi-Regular.ttf);
}

:root {
  --btn-color-one: #9BC1BC;
  --btn-color-two: #ED6A5A;
  --menu-color: #f6fbef;
  --bookend-color-one: #ED6A5A;
  --bookend-color-two: #F4F1BB;
  --bookend-color-three: #9BC1BC;
  --main-color-one: #5D576B;
  --main-color-two: #E6EBE0;
  --text-color-one: #fff;
  --text-color-two: #000;
}

* {
  box-sizing: border-box;
  font-family: 'Raleway';
}

h4,
p {
  margin: 0;
  padding: 0;
}

input,
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 7fr;
  margin: 0;
  min-width: 300px;
}

header {
  display: grid;
  align-items: center;
  background-color: var(--main-color-one);
  color: var(--text-color-one);
  width: 100%;
  box-shadow: 0 1px 9px rgb(128, 128, 128);
  z-index: 10;
  grid-template-columns: 1fr 9fr 2fr;
  grid-template-rows: 3fr 1fr;
}

header h1 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 3;
  justify-self: center;
  font-family: 'Ms Madi';
  font-size: 3em;
}

.btn {
  font-family: 'Raleway';
  background-color: var(--btn-color-one);
  color: var(--text-color-one);
  border-radius: 8px;
}

.btn:hover,
.sort-btns:hover,
input[type='checkbox'] {
  cursor: pointer;
}

.btn-container {
  grid-row: 1 / span 2;
  grid-column: 1;
  justify-self: start;
  position: relative;
  padding-left: 25px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.add-book-menu-btn {
  font-family: 'Raleway';
  font-weight: 500;
  height: 35px;
  width: 35px;
  font-size: 1.8rem;
}

.form-container {
  background-color: var(--menu-color);
  color: var(--text-color-two);
  padding: 12px;
  border: 1px solid gray;
  border-radius: 8px;
  z-index: 10;
  position: absolute;
  top: 0;
  box-shadow: 1px 1px 3px rgb(161, 160, 160);
  display: none;
}

.modal-open {
  display: block;
}

.add-book-form {
  display: grid;
  grid-template-columns: 75px 250px;
  gap: 9px;
  align-items: center;
  font-size: 1.1rem; 
}

.add-book-form legend {
  grid-column: 1 / span 2;
  justify-self: center;
  font-weight: 600;
  font-size: 1.2em;
}

.add-book-form label {
  grid-column-start: 1;
}

.add-book-form input {
  grid-column-start: 2;
  border-radius: 8px;
  border: 1px solid gray;
  height: 100%;
  padding: 4px 10px;
  z-index: 10;
  position: relative;
}

.add-book-form input:focus {
  background-color:#e9e9e9;
}

.required-hide {
  position: relative;
  transition: top linear 200ms;
  top: -14px;
}

.required-show {
  transition: top linear 200ms;
  top: 0;
}

#title+span::after,
#author+span::after,
#pages+span::after {
  content: "Required";
  position: absolute;
  padding: 8px 4px 1px 4px;
  font-size: 0.7rem;
  top: -18px;
  right: -251px;
  background-color: #F4F1BB;
  color: #5D576B;
  border-radius: 4px;
  z-index: 9;
}

.sort-btns {
  width: 120px;
  height: 25px;
  border: 1px solid var(--main-color-one);
  border-top: none;
  font-size: 0.9rem;
  background-color: var(--menu-color);
  box-shadow: 1px 1px 3px rgb(161, 160, 160);
}

.add-menu-btns {
  display: flex;
  grid-column-start: 2;
  justify-self: end;
  gap: 15px;
}

.add-menu-btn {
  border: 1px solid gray;
  width: 75px;
  height: 30px;
  color: var(--text-color-one);
}

.add-book-cancel-btn {
  background-color: var(--btn-color-two);
}

.status-display {
  grid-row: 1 / span 2;
  grid-column-start: 3;
  display: grid;
  font-size: 1rem;
  gap: 7px;
  font-weight: 700;
  padding-right: 25px;
  justify-self: end;
  min-width: 110px;
}

.has-read, #has-read {
  border: 1px solid gray;
  border-radius: 25px;
  background-color: #fff;
  height: 22px;
  width: 22px;
  justify-self: end;
}

.has-read:focus, #has-read:focus {
  background-color:#e9e9e9;
}

.has-read:checked, #has-read:checked {
  background-color: var(--btn-color-one);
  box-shadow: inset 0 0 0 3px #fff;
}

@media (max-width: 470px) {
  header {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
  }

  header h1 {
    align-self: start;
    margin-top: 18px;
  }

  .btn-container,
  .status-display {
    grid-row: 2;
    grid-column: 1 / span 3;
    justify-self: center;
  }

  .btn-container {
    padding-right: 175px;
  }

  .status-display {
    padding-bottom: 18px;
    padding-top: 5px;
    padding-left: 140px;
    font-size: 0.8rem;
  }

  .form-container {
    position: fixed;
    left: 50%;
    top: 25px;
    transform: translate(-50%);
  }

  .add-book-form {
    grid-template-columns: 250px;
    gap: 6px;
  }

  .add-book-form legend,
  .add-book-form label,
  .add-book-form input,
  .add-menu-btns {
    grid-column-start: 1;
  }

  #title+span::after,
  #author+span::after,
  #pages+span::after {
    top: 4px;
    right: 13px;
  }

  .add-book-form #has-read {
    justify-self: start;
  }
}

.current-total,
.read-total {
  grid-column-start: 2;
}

.divider-line {
  grid-column: span 2;
  border-top: 1px solid #c5c5c5;
  justify-self: center;
  width: 90%;
}

.sort-menu-container {
  position: relative;
  display: flex;
}

.sort-menu {
  display: flex;
  position: absolute;
  left: -700px;
  z-index: 8;
  transition: left ease 300ms;
}

.sort-menu-show {
  left: 120px;
  transition: left ease 300ms;
}

@media (max-width: 720px) {
  .sort-menu {
    flex-direction: column;
  }

  .sort-menu button:last-child {
    border-bottom-left-radius: 6px;
  }
}

.sort-menu button:last-child {
  border-bottom-right-radius: 6px;
}

.drop-btn {
  z-index: 9;
  border-bottom-right-radius: 6px;
  transition: border-bottom-right-radius linear 100ms;
  box-shadow: 1px 1px 3px rgb(161, 160, 160);
}

.drop-menu-open {
  border-bottom-right-radius: 0;
  transition: border-bottom-right-radius linear 300ms;
}

.content {
  height: 100%;
  background-color: var(--main-color-two);
}

.book-display {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 15px;
  padding: 15px;
}

.book-end {
  padding: 20px;
  writing-mode: vertical-rl;
  color: var(--text-color-two);
  background-color: var(--bookend-color-one);
  border: 1px solid rgb(121, 121, 121);
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgb(161, 160, 160);
  transition: transform ease 200ms,
              box-shadow ease 200ms;
  height: 300px;
}

.book-end:nth-child(3n+2) {
  background-color: var(--bookend-color-two);
}

.book-end:nth-child(3n) {
  background-color: var(--bookend-color-three);
}

.book-end:hover {
  cursor: pointer;
  box-shadow: 1px 5px 7px rgb(161, 160, 160);
  transition: all 0.4s ease;
  transform: translate(0, -7px);
}

.book-open {
  padding: 20px;
  min-width: 250px;
  writing-mode: horizontal-tb;
  display: grid;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgb(161, 160, 160);
  transition: transform ease 200ms,
              box-shadow ease 200ms;
  height: 300px
}

.book-open:nth-child(3n+2), 
.book-open:nth-child(3n) {
  background-color: #fff;
}

.book-open label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-open-btns {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.book-open-btns button {
  width: 100px;
  height: 35px;
}

.remove-btn {
  transition: background-color linear 400ms;
}

.remove-confirm {
  background-color: var(--btn-color-two);
  transition: background-color linear 400ms;
}

.book-edit-form {
  display: grid;
  gap: 2px;
  height: 100%;
  font-size: 0.8rem;
}

.book-edit-form legend {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
}

.book-edit-form label {
  align-self: end;
  padding: 0;
  font-weight: 600;
}

.book-edit-form input {
  border: 1px solid #000;
  border-radius: 8px;
  align-self: start;
  height: 100%;
  padding: 0 6px;
}

.edit-btn-container {
  align-items: end;
  padding-top: 10px;
}

.edit-btn-container button {
  height: 30px;
}

.hidden {
  display: none;
}