@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf),
       url(../fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  font-family: 'Raleway';
}

h4,
p {
  margin: 0;
  padding: 0;
}

input,
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 7fr;
  margin: 0;
}

header {
  display: grid;
  align-items: center;
  background-color: #5D576B;
  color: #fff;
  width: 100%;
  box-shadow: 0 1px 9px rgb(128, 128, 128);
  z-index: 10;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr;
}

header h1 {
  grid-row: 1;
  grid-column: 1 / span 2;
  justify-self: center;
}

.btn {
  font-family: 'Raleway';
  background-color: #9BC1BC;
  color: #fff;
  border-radius: 8px;
}

.btn:hover,
input[type='checkbox'] {
  cursor: pointer;
}



.btn-container {
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  position: relative;
}

.add-book-menu-btn {
  font-family: 'Raleway';
  height: 30px;
  width: 30px;
  font-size: 1.6rem;
}

/* @keyframes fadeIn {
  from {
       opacity: 0;
  }

  to {
       opacity: 1;
  }
} */

.form-container {
  background-color: #9BC1BC;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 8px;
  z-index: 11;
  position: absolute;
  top: 0;
  box-shadow: 1px 1px 3px rgb(161, 160, 160);
  display: none;
}

.modal-open {
  display: block;
  /* animation: fadeIn 1s; */
}

.add-book-form {
  display: grid;
  grid-template-columns: 75px 250px;
  gap: 10px;
  align-items: center;
  font-size: 1.1rem; 
}

.add-book-form legend {
  grid-column: 1 / span 2;
  justify-self: center;
}

.add-book-form label {
  grid-column-start: 1;
}

.add-book-form input {
  grid-column-start: 2;
  border-radius: 8px;
  border: 1px solid gray;
  height: 100%;
  padding: 4px 10px;
}

.add-book-form input:focus {
  /* outline:none; */
  background-color:#e9e9e9;
}

.has-read, #has-read {
  border: 1px solid gray;
  border-radius: 25px;
  background-color: #fff;
  height: 20px;
  width: 20px;
  justify-self: end;
}

.has-read:focus, #has-read:focus {
  background-color:#e9e9e9;
}

.has-read:checked, #has-read:checked {
  background-color: #9BC1BC;
  box-shadow: inset 0 0 0 3px #fff;
}

.add-menu-btns {
  display: flex;
  grid-column-start: 2;
  justify-self: end;
  gap: 15px;
}

.add-menu-btn {
  border: 1px solid gray;
  width: 75px;
  height: 30px;
  background-color: #F4F1BB;
  color: #000;
}

.add-book-cancel-btn {
  background-color: #ED6A5A;
  color: #000;
}

.book-display {
  background-color: #E6EBE0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 15px;
  padding: 15px;
}

.book-end {
  padding: 20px;
  writing-mode: vertical-rl;
  background-color: #ED6A5A;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgb(161, 160, 160);
  transition: transform ease 200ms,
              box-shadow ease 200ms;
  height: 300px;
}

.book-end:nth-child(3n+2) {
  background-color: #F4F1BB;
}

.book-end:nth-child(3n) {
  background-color: #9BC1BC;
}

.book-end:hover {
  cursor: pointer;
  box-shadow: 1px 5px 7px rgb(161, 160, 160);
  transition: all 0.4s ease;
  transform: translate(0, -7px);
}

.book-open {
  padding: 20px;
  writing-mode: horizontal-tb;
  display: grid;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgb(161, 160, 160);
  transition: transform ease 200ms,
              box-shadow ease 200ms;
  height: 300px
}

.book-open:nth-child(3n+2) {
  background-color: #fff;
}

.book-open:nth-child(3n) {
  background-color: #fff;
}

.book-open label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-open-btns {
  display: flex;
  gap: 30px;
}

.book-open-btns button {
  width: 90px;
  height: 35px;
}

.hidden {
  display: none;
}

.btn:focus,
input:focus,
.has-read:focus,
#has-read:focus {
  outline: none;
  border: 2px solid #444444;
}